#################################################
# Terraform
#################################################

**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log

override.tf
override.tf.json
*_override.tf
*_override.tf.json

terraform.tfvars
*.auto.tfvars

#################################################
# Provider Lock File
#################################################

# Commit provider lock files
# !.terraform.lock.hcl

#################################################
# Archives
#################################################

*.zip
*.tar
*.tar.gz

#################################################
# Keys & Certificates
#################################################

*.pem
*.key
*.crt
*.p12
*.pfx

#################################################
# Environment
#################################################

.env
.env.*

#################################################
# Python
#################################################

__pycache__/
*.pyc

#################################################
# IDE
#################################################

.vscode/
.idea/

#################################################
# OS
#################################################

.DS_Store
Thumbs.db

#################################################
# Logs
#################################################

*.log